<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All time favorite place</title>
    <link href="static/styles.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;600;800&family=Satisfy&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1 id="mainHeading">My all time favorite place</h1>
     <h2 id="sub-title">Bangladesh <h2>
    </header>
    <main>
      <section>
        <!-- intro-->
        <p id="testP" class="funParagraph"> Sometimes a breath of fresh air can make all the difference - it can be the pause or break within our life that put events into perspective and provides us with a new meaning. Allow nature to be our personal therapist and find peace in knowing that we always have a place to find hope - a place all time my favorite is my 'birthplace' Bangladesh. </p>
      </section>
      <article>
        <section>
          <!-- same as article vice versa-->
          <p id="intro">Bangladesh is undoubtedly a unique and fascinating destination for travelers looking to experience something off the beaten path. From its stunning natural beauty and rich cultural history to its friendly and welcoming locals, there is much to discover in this diverse and vibrant country. Whether you're interested in exploring ancient temples, sipping tea on a stunning plantation, or relaxing on the world's longest natural sandy beach, Bangladesh has something for everyone. For those seeking adventure, the Rangamati Hill District and the Sundarbans, home to the Royal Bengal Tiger, offer breathtaking landscapes and opportunities for outdoor activities such as hiking and boating. And for history buffs, the Lalbagh Fort and the Mahasthangarh Archaeological Museum offer a glimpse into Bangladesh's fascinating past. Don't miss out on the opportunity to explore Bangladesh.</p>
        </section>


      <section>
        <div class="image-right">
          <h3 class="headline-Color">Cultures and Traditions</h3>
          <img class="image-culture-left" src="static/images/IMG_C1.png" alt="Pohela bhoishak" style="width:400px;height:auto;">
          <p> Bangladesh is a small country in South Asia, but with some great cuisine and a rich culture. The people of Bangladesh have Cherished some amazing cultures and traditions. Unlike other countries of other continents, Bangladeshi people have their own culture and tradition.</p>
          <p> The Bangladeshi culture reflects the behavior of individuals, their dresses, occasions, languages, livelihood, dance, music, film, festivals, etc. Bangladesh is the only nation in the world who sacrifices blood for the sake of Mother's tongue. It was 21st February in 1952; Bangladeshi people start the movement against the government of Pakistan for the Bengali Language.</p>
         
        </div>
        <hr>
      </section>

      <section>
        <div>
          <h3 class="headline-Color">Food and Cuisine</h3>
          <p>Bangladeshi cuisines are influenced by different nations. Hindus, Buddhists,s and latterly Muslims rule Bangla. In the course of time of Bangladeshis are affected by their food habit. But maybe they are greatly influenced at the time of the Mughal reign.</p>
          <p class="funParagraph">Bangladesh has a rich culinary tradition with a variety of dishes that are unique to the country. Some of the most popular traditional Bangladeshi foods include: </p>
          <p style="text-align: center;">
            <img class="images-food" src="static/images/IMG_F3.png" alt="Hilsha" style="width:400px;height:200px;">
            <img class="images-food" src="static/images/IMG_F2.png" alt="Biriyani" style="width:400px;height:200px;">
          </p>
        </div>
        <div>
          <ul class="list-item">
            <li>Shorshe Ilish (Hilsa Fish with Mustard Curry)</li>
            <li>Kacchi Biriyani (Mutton Biriyani)</li>
            <li>Beef Kala Bhuna (Beef Curry)</li>
            <li>Bhuna Khichuri with Dim Bhaji (Yellow Rice with Omelette)</li>
            <li>Sheek Kebab with Naan (Kebab with Flatbread)</li>
            <li>Dal (Lentil Soup)</li>
            <li>Bhorta (Mashed Vegetables with Spices)</li>
            <li>Fuska</li>
            <li>Shingara</li>
          </ul>
        </div>
        <div>
          <p style="text-align: center;">
            <img class="images-food" src="static/images/IMG_F1.png" alt="Shingara" style="width:400px;height:200px;">
            <img class="images-food" src="static/images/IMG_F4.png" alt="pitha" style="width:400px;height:200px;">
          </p>
        </div>
        <hr>
      </section>

            <section>
              <h3 class="headline-Color">Arts and Crafts</h3>
              <p>Different types of arts are crafts seen in Bangladesh. Weaving, pottery, and terracotta, etc. are traditional in Bangladesh. Women of Bangladesh make Nakshi Katha. Arts in Rickshaw is also popular in Bangladesh. Folk Theater, Jatra, etc. are common in the rural side of Bangladesh.</p>
              <p>Bangladesh is home to classical as well as folk dance forms and music. Classical music is closely related to the Hindustani style, while the dance draws influences from other classical dance forms of the Indian subcontinent, especially Bharatnatyam, Kuchipudi, and Manipuri. This nation also has a rich tradition of folk songs, with the lyrics containing elements of mysticism, spirituality, and devotion. Folk music also has a recurring theme of love. The Sufi influence on the music of Bangladesh mentioned above can be most prominently seen in Baul, which is a type of folk music. Rabindra sangeet, the songs written and composed by Nobel laureate Rabindranath Tagore, is also an integral part of the culture of Bangladesh.</p>
            </section>
            <hr>
            <section>
              <h3 class="headline-Color"> Places to visit </h3>
              <p>Bangladesh has many famous tourist spots, including Cox's Bazar, which has a 120-kilometer-long beach, Sundarbans National Park, Lalbagh Fort, Saint Martin, Paharpur, Kuakata, Bagerhat, Sonargaon, Comilla, Bogra, Gaur, Barisal, Puthia, Ahsan Manzil Museum, and the Bangladesh National Parliament</p>
              <div>
                <h4>Sundarbans</h4>
                <p>
                  <img class="left" src="static/images/IMG_tig.png" alt="Shundarbon">
                </p>
                <p>Sundarbans National Park, home to mangrove forests and tigers.The Sundarbans, a distinctive ecotourism destination, is the world's largest mangrove forest and is recognized as a UNESCO World Heritage Site.This remarkable forest is intersected by an intricate network of rivers, creeks, mudflats, and small islands and comprises two primary ecoregions: the mangrove forest and the freshwater swamp forest. It is the kingdom of Royal Bengal tiger and you will find various kinds of species of birds, animals & plants and I think you should visit the tranquilizing beauty of Sundarbans once in your life. </p>
              </div>
              <div>
                <h4> Kuakata</h4>
                <p>
                  <img class="right" src="static/images/IMG_Kua.png" alt="Kuakata Beach">
                </p>
                <p> Kuakata is a scenic travel paradise in the southern part of Bangladesh, known as the "Sagar Kannya" which means “Daughter of Sea”. It is one of the most beautiful and captivating places for traveling and leisure travelers. Not just in the country, Kuakata is now known all over the world. Standing at the same place on the beach, anyone can see the sunrise and sunset. Kuakata has a wide reputation for breath taking natural scenic beauty.</p>
              </div>
              <div>
                <h4>St. Martin Island</h4>
                <p>
                  <img class="left" src="static/images/IMG_st.martin.PNG" alt="St. Martin Island">
                </p>
                <p> St. Martin's Island has one of the most extensive coral reefs in the world, making it a top spot for snorkeling and scuba diving. Visitors can rent gear and explore the colorful underwater world of the island. </p>
                <p>Relaxation and fun on the picturesque place of blue sky and coconut trees, swimming in crystal blue water, snorkeling in the lagoon, and walking in the fresh air will be a lifetime experience.</p>
              </div>
              <div>
                <h4>Paharpur</h4>
                <p>
                  <img class="right" src="static/images/IMG_paharpur.png" alt="Paharpur">
                </p>
                <p> Paharpur is a popular archaeological site in Bangladesh where you can find the Ruins of the Buddhist Vihara. It gives evidence of the rise of Mahayana Buddhism from the seventh century onwards.</p>
                <p>Evidence of the rise of Mahayana Buddhism in Bengal from the 7th century onwards, Somapura Mahavira, or the Great Monastery, was a renowned intellectual centre until the 12th century. Its layout perfectly adapted to its religious function, this monastery-city represents a unique artistic achievement. With its simple, harmonious lines and its profusion of carved decoration, it influenced Buddhist architecture as far away as Cambodia.</p>
              </div>
               <hr>
            </section>  
            
  
      </article>
    </main>
    <footer>
      <p>&copy;2023 Rina Shovik </p>
    </footer>
  </body>
</html>